body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.heading {
    font-size: 50px;
    text-shadow: 0 0 5px black;
    padding-left: 200px;
    padding-right: 200px;
}

.top-banner {
    background-image: url(Images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.text-makeover {
    text-align: center;
    color: white;
    padding: 100px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(104, 21, 35), tomato);
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
    font-weight: 700;
}


.donate-today {
    padding-top: 50px;
    text-align: center;
}



.para-amount {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 30px;
    font-weight: 700;
}

.amount {
    margin: 50px 20px 50px;
    background-color: rgba(233, 229, 229, 0.384);
    padding: 30px 25px 30px;
    color: rgb(128, 128, 128);
}

#donate-amount {
    background-color: lightpink;
    border: 2px solid coral;
    padding: 30px 20px 30px;
    color: coral;
}

.other-amount {
    text-decoration: none;

    margin-bottom: 50px;

}

.other-amount-para {
    color: grey;
    margin-top: 100px;
}

.heading-makeover2 {
    padding-top: 100px;
    text-align: center;
}


.felxible-container {
    padding-top: 50px;
    display: flex;
}

#food-family {
    width: 33%;
    padding: 50px;
    background-color: rgba(95, 158, 160, 0.336);
    margin: 1%;
    margin-left: 10%;

}

#shelter-family {
    width: 33%;
    background-color: rgba(255, 182, 193, 0.295);
    padding: 50px;
    margin: 1%;

}

#education-family {
    width: 33%;
    background-color: rgba(255, 127, 80, 0.363);
    padding: 50px;
    margin: 1%;
    margin-right: 10%;

}

.get-update {
    text-align: center;
}

.heading-makeover3 {
    padding: 50px;
}

.email-makeover {
    background-color: rgba(255, 182, 193, 0.288);
    padding: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

.para-modified {
    padding-left: 30%;
    padding-right: 30%;
    color: gray;
}

.first-para {
    color: white;
    padding-bottom: 40px;
}

footer {
    color: tomato;
    text-align: center;
    background-color: #2b2e2c;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    font-family: 'Great Vibes', cursive;

}

.footer-para {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

#red-color {
    color: red;
}

.monthly-giver {
    text-align: left;
    background-image: url(Images/donation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 80px;
    padding-right: 45%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.heading2 {
    font-size: 30px;
    text-shadow: 0 0 5px white;

}

.monthly-giver-para {
    color: white;
    text-shadow: 0 0 5px black;
    padding-bottom: 50px;
    font-size: 18px;
}